html, body {
	margin:0px;
	padding:0px;
}
#content {
	margin-top:50px;
}
.tab-content {
	padding-top:10px;
}

.input-row-hover .form-control:hover{
	/*background-color:rgba(100,0,0,1);*/
	box-shadow:3px 3px 10px rgba(0,0,0,.25);
}