{% extends "mainbase.html" %}

{% block content %}
<ul class="nav nav-tabs" id="tabmenu">
  <li class="active"><a href="#apply">Apply</a></li>
  <li><a href="#challan">Challan</a></li>
  <li><a href="#status">Status</a></li>
  <li><a href="#hallticket">Hallticket</a></li>
</ul>
<div class="tab-content container">
  <div class="tab-pane active" id="apply">
  	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="rollnumber" class="col-sm-2">Roll Number</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="rollnumber" value="{{user.username}}" disabled />
			</div>
		</div>
		<div class="form-group">
			<label for="rollnumber" class="col-sm-2">Branch</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="branch" value="{{user.student.branch}}" disabled />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Exam</label>
			{% if notifications %}
			<div class="col-sm-6">
				<select class="form-control" id="examnotifications">
					{% for notification in notifications %}
					<option value="{{notification.id}}" amount="{{notification.amount}}">{{notification.dept}} - {{notification.type}} - {{notification.sem}} - {{notification.amount}}/-</option>
					{% endfor %}
				</select>
			</div>
			{% else %}
			<div class="col-sm-6">
				<h4>No exam notifications</h4>
			</div>
			{% endif %}
		</div>
		<div class="form-group">
			<label for="rollnumber" class="col-sm-2">Amount</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="amount" placeholder="Amount" disabled value="0" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2">
				<button class="btn btn-primary" id="apply-button">Apply</button>
				<button class="btn btn-danger">Reset</button>
			</div>
		</div>
  	</form>
  </div>
  <div class="tab-pane" id="challan">
		<h3>Challan Generated</h3>
		<ul class="nav nav-default">
			<li><input type="checkbox" /> xxxxxxxxxxx</li>
			<li><input type="checkbox" /> xxxxxxxxxxx</li>
			<li><input type="checkbox" /> xxxxxxxxxxx</li>
		</ul>
		<button class="btn btn-primary">Download Challan</button>
  </div>
  <div class="tab-pane" id="status">
		<h3>Verification Status</h3>
		<p>Applied<span class="glyphicon glyphicon-ok"></span></p>
		<p>Fees Paid<span class="glyphicon glyphicon-ok"></span></p>
		<p>Verified<span class="glyphicon glyphicon-ok"></span></p>
  </div>
  <div class="tab-pane" id="hallticket">
  		<h3>Hallticket Generated</h3>
		<ul class="nav nav-default">
			<li><input type="checkbox" /> xxxxxxxxxxx</li>
			<li><input type="checkbox" /> xxxxxxxxxxx</li>
			<li><input type="checkbox" /> xxxxxxxxxxx</li>
		</ul>
		<button class="btn btn-primary">Download Hallticket</button>
  </div>
</div>
<script>
$('#tabmenu a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

$("#examnotifications").on("mouseout blur change",function(){
	var amount = $("option:selected",this).attr("amount");
	$("#amount").val(amount);
});

$("#apply-button").unbind();
$("#apply-button").click(function(event){
	event.preventDefault();
	obj={'notification':$("#examnotifications option:selected").val()};
	$.ajax({
		method:'POST',
		url:'/student/apply/',
		data:{'notification':$("#examnotifications option:selected").val()},
		success:function(data){
			alert(data);
		}
	});
});
</script>
{% endblock %};