{% extends "mainbase.html" %}

{% block content %}
{% if detained %}
<h3>You have been detained. Contact your HOD.</h3>
{% else %}
<ul class="nav nav-tabs" id="tabmenu">
  <li class="active"><a href="#apply">Apply</a></li>
  <li><a href="#challan">Challan</a></li>
  <!-- <li><a href="#status">Status</a></li> -->
  <li><a href="#hallticket">Hallticket</a></li>
</ul>
<div class="tab-content container">
  <div class="tab-pane active" id="apply">
  	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="rollnumber" class="col-sm-2">Roll Number</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="rollnumber" value="{{user.username}}" disabled />
			</div>
		</div>
		<div class="form-group">
			<label for="rollnumber" class="col-sm-2">Branch</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="branch" value="{{user.student.branch}}" disabled />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Exam</label>
			{% if notifications %}
			<div class="col-sm-6">
				<select class="form-control" id="examnotifications">
					{% for notification in notifications %}
					<option value="{{notification.id}}" dept="{{notification.dept}}" amount="{{notification.amount}}" exam-type="{{notification.type}}" semester="{{notification.sem}}">{{notification.dept}} - {{notification.type}} - {{notification.sem}} - {{notification.amount}}/-</option>
					{% endfor %}
				</select>
			</div>
			{% else %}
			<div class="col-sm-6">
				<h4>No exam notifications</h4>
			</div>
			{% endif %}
		</div>
		<div class="form-group">
			<label class="col-sm-2">Subjects</label>
			<div id="supply-subjects"></div>
		</div>
		<div class="form-group">
			<label for="rollnumber" class="col-sm-2">Amount</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="amount" placeholder="Amount" disabled value="0" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2">
				<button class="btn btn-primary" id="apply-button">Apply</button>
				<button class="btn btn-danger">Reset</button>
			</div>
		</div>
  	</form>
  </div>
  <div class="tab-pane" id="challan">
		<h3><u>Challans</u></h3>
		<ul class="nav nav-default">
		{% if condonation %}
		<li><button class="btn btn-default" /> Condonation: {{condonation}}/- </button></li>
		{% endif %}
			{% for a in applications %}
				<li><button class="btn btn-default" value="{{a.id}}"/> {{a.notification.dept}} - {{a.notification.type}} - {{a.notification.sem}} - {{a.amount}}/-</button></li>
			{% endfor %}
		</ul>
  </div>
  <div class="tab-pane" id="status">
		<h3>Verification Status</h3>
		<p>Applied<span class="glyphicon glyphicon-ok"></span></p>
		<p>Fees Paid<span class="glyphicon glyphicon-ok"></span></p>
		<p>Verified<span class="glyphicon glyphicon-ok"></span></p>
  </div>
  <div class="tab-pane" id="hallticket">
  		<h3>Hallticket Generated</h3>
		<ul class="nav nav-default">
			{% for a in applications %}
				{% ifequal a.verified True %}
					<li><button class="btn btn-default" value="{{a.id}}"/> {{a.notification.dept}} - {{a.notification.type}} - {{a.notification.sem}} - {{a.notification.amount}}/-</button></li>
				{% endifequal %} 
			{% endfor %}
		</ul>
  </div>
</div>
<script>
$('#tabmenu a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

function getSubjects(sem,dept) {
	var subjectsList = "";
	$.ajax({
		method:'GET',
		url:'/department/subjects/',
		data:{sem:sem,dept:dept},
		success:function(data){
			subjectsList = data;
			return data;
		},
		async:false
	});
	return subjectsList;
}

$("#examnotifications").on("mouseout blur change",function(){
	var amount = $("option:selected",this).attr("amount");
	var sem = $("option:selected",this).attr("semester");
	var dept = $("option:selected",this).attr("dept");
	var examtype = $("option:selected",this).attr("exam-type");
	
	$("#amount").val(amount);
	if(examtype=='supply') {
		$("#amount").val("");
		subjects = getSubjects(sem,1);
		$("#supply-subjects").html(subjects);
		$("input[type=checkbox]").on("click", function(){
			var n = $("input:checked" ).length;
			var amt = n*amount;
			$("#amount").val(amt);
		});
	} else {
		$("#supply-subjects").html("");
	}
});

$("#apply-button").unbind();
$("#apply-button").click(function(event){
	event.preventDefault();
	obj={'notification':$("#examnotifications option:selected").val()};
	$.ajax({
		method:'POST',
		url:'/student/apply/',
		data:{'notification':$("#examnotifications option:selected").val(),'amount':$("#amount").val()},
		success:function(data){
			alert(data);
			location.reload();
		},error:function(a,b,c) {
			alert(JSON.stringify(a));
			alert(b);
			alert(c);
		}
	});
});

$("#challan button").click(function(){
	//console.log($(this).attr("value"));
	
	window.location = "/student/challan/?application="+$(this).attr("value");
});
$("#hallticket button").click(function(){
	//console.log($(this).attr("value"));
	window.location = "/student/hallticket/?hallticket="+$(this).attr("value");
});



</script>
{% endif %}
{% endblock %};
