{% extends "mainbase.html" %}

{% block menu %}
<ul class="nav navbar-nav">
	<li><a href="/verification/">Verification</a></li>
	<li><a href="/admin">Adminstrative Console</a></li>
</ul>
{% endblock %}

{% block content %}

<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
					Notification Center <small>user profile sample</small>
					</h3>
					<ul class="page-breadcrumb breadcrumb">
						<li class="btn-group">
							<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							<span>Actions</span><i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
						<li>
							<i class="fa fa-home"></i>
							<a href="index.html">Home</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">Extra</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">User Profile</a>
						</li>
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			
	{% if errors %}
	<div class="alert alert-danger">
		{{errors}}
	</div>
	{%endif%}
	<form role="form" method="post" action="/notify/">
		{% csrf_token %}
		<div class="row">
			<div class="form-group col-md-5">
				<label>Type</label>
				<select class="form-control" name="type">
					<option value="sem">Semester End Examination</option>
					<option value="supply">Semester End Supplementary Examination</option>
					<option value="reval">Revaluation</option>
				</select>
			</div>
			<div class="form-group col-md-3">
				<label>Department</label>
				<select class="form-control" name="dept">
					{% for department in departments %}
						<option value="{{department.title}}">{{department.title}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group col-md-3">
				<label>Semester</label>
				<select class="form-control" name="sem">
					<option value="1">I</option>
					<option value="2">II</option>
					<option value="3">III</option>
					<option value="4">IV</option>
					<option value="5">V</option>
					<option value="6">VI</option>
					<option value="7">VII</option>
					<option value="8">VIII</option>
				</select>
			</div>
			<div class="form-group col-md-3">
				<label>Amount</label>
				<input type="number" class="form-control" name="amount"/>
			</div>			
			<div class="form-group col-md-3">
				<label>Last Date</label>
				<input type="date" class="form-control" name="lastdate"/>
			</div>
			<div class="form-group col-md-3">
				<label>Last Date With Fine</label>
				<input type="date" class="form-control" name="lastdatewithfine"/>
			</div>			
			<div class="form-group col-md-3">
				<label>Fine</label>
				<input type="number" class="form-control" name="fine"/>
			</div>
			<div class="form-group col-md-12">
				<button class="btn btn-primary">Notify</button>
			</div>			
		</div>
	</form>
	<div class="container">
		<table class="table table-hover table-bordered">
			<tr>
				<th>#</th>
				<th>Exam Type</th>
				<th>Department</th>
				<th>Amount</th>
				<th>Last Date</th>
				<th>Last Date with Fine</th>
				<th>Fine Amount</th>
			</tr>
			{% for notification in notifications %}
				<tr>
				<td>{{notification.id}}</td>
				<td>{{notification.type}}</td>
				<td>{{notification.dept}}</td>
				<td>{{notification.amount}}</td>
				<td>{{notification.lastdate}}</td>
				<td>{{notification.lastdatewithfine}}</td>
				<td>{{notification.fine}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
<script>
$("input[type='date']").datepicker();
</script>
{% endblock %}
