{% extends "mainbase.html" %}

{% block content %}
<div id="content">
	<div class="jumbotron">
		<div class="container">
			<h1>Examination Cell</h1>
			<p>VR Siddhartha College of Engineering</p>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="col-md-4">
				<h2>Notifications</h2>
				<ul>
					<li><a href="#">Revaluation Fee Notification for B.Tech III & IV Semester(Y06 & Y07 Regulations, January 201...</a></li>
					<li><a href="#">Revaluation Fee Notification for B.Tech VII Semester(VR10 Regulation), December 2013</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h2>Exam Timetables</h2>
				<ul>
					<li><a href="#">Schedule of B.Tech & M.Tech Examinations, January 2014 which were postponed due to bandh on 19/0...</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h2>Results</h2>
				<ul>
					<li><a href="#">Results of B.Tech III&IV Semesters (Y06 & Y07 Regulations) Supple Examinations, January 2014</a></li>
					<li><a href="#">Results of B.Tech VII Semester (VR10 Regulations) Regular Examinations, December 2013</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{%endblock%}